@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 20 0% 0%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    will-change: transform;
    scrollbar-width: 0px;
    @apply bg-[#010101] text-foreground;
  }
  body::-webkit-scrollbar {
    display: none;
  }
}

/* Fonts */
.text-akin {
  font-family: 'Atkinson-regular';
}

.text-akin-bold {
  font-family: 'Atkinson-bold';
}

@font-face {
	font-family: 'Atkinson-regular';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson-bold';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-style: normal;
	font-display: swap;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* Custom */

.text-gradient {
  background-image: linear-gradient(135deg, #df2b2b, #d748ff, #6abeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animation-hue-rotate {
  animation: hue-rotate 150s ease-in-out infinite;
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}